# =============== #
# Unity generated #
# =============== #
shapehunter/Temp/
shapehunter/Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
shapehunter/ExportedObj/
shapehunter/obj/
*.svd
*.userprefs
shapehunter/*.csproj
*.pidb
*.suo
shapehunter/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ours
shapehunter/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity*
shapehunter/Assets/UnityVS/Editor/UnityVS.VersionSpecific*
shapehunter/Assets/Resources/art/animals/Thumbs.db.meta
shapehunter/Assets/Resources/art/photos/Thumbs.db.meta
shapehunter/Assets/Art/Thumbs.db.meta
shapehunter/Assets/Plugins.meta
